@font-face {
  font-family: "Futura";
  src: url("/font/futura-medium-bt.ttf");
}

.Logo {
  height:"60px";
  width:"auto";
  margin-top:5px;
  margin-bottom:5px;
  margin-left:10px;
  margin-right:10px;
}

.Nav-Bar {
  margin: 0;
  width: 100%;
  flex-direction: row;
  display: flex;
  left: 0;
  top: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: #0a191e;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.Nav-Group {
  display: flex;
  flex-direction: row;
}

.Nav-Link {
  color: #d8b65c;
  font-family: "Futura", sans-serif;
  font-size: 20px;
  padding: 25px 50px;
  text-decoration: none;
}

.content {
  /* 74px = height of nav bar */
  margin-top: 74px;
  height: 100vh;

}
