@font-face {
  font-family: "Futura";
  src: url("/font/futura-medium-bt.ttf");
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.Main-Header {
  height: 5%;
  background-color: #0a191e;
  color: #d8b65c;
  display: flex;
  flex-direction: left;
  align-items: center;
  justify-content: left;
  padding-left: 5%;
}

.Logo {
  height:"60px";
  width:"auto";
  margin-top:5px;
  margin-bottom:5px;
  margin-left:10px;
  margin-right:10px;
}

.Nav-Bar {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: #0a191e;
}

.Nav-Group {
  display: flex;
  flex-direction: row;
}

.Nav-Link {
  color: #d8b65c;
  font-family: "Futura", sans-serif;
  font-size: 20px;
  padding: 25px 50px;
  text-decoration: none;
}



.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #5c746f;
}
