/*.header{*/
/*	background-color: #0a191e;*/
/*	width: 100%;*/
/*	height: 80px;*/
/*	display: flex;*/
/*	align-items: center;*/
/*	justify-content: space-between;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

@font-face {
  font-family: "Futura";
  src: url("/font/futura-medium-bt.ttf");
}

.Logo {
  height:"60px";
  width:"auto";
}


.title {
  color: #d8b65c;
  font-family: "Futura", sans-serif;
  font-size: 50px;
  text-decoration: none;
}

.signs{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}



.header {
    margin: 0;
    width: 100%;
    height: 80px;
    display: flex;
    left: 0;
    top: 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: #0a191e;
    z-index: 999;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.navBar {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.navLink {
  color: #d8b65c;
  font-family: "Futura", sans-serif;
  font-size: 20px;
  padding: 12px;
  text-decoration: none;
}

.navGroup {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.content {
    margin-top: 80px;
    min-height: calc(100vh - 80px);
    background-color: #282c34;
}
