.Screen {
    height: 100%;
	background-color: #282c34;
	justify-content: center;
	align-items: center;
}

.Link-Container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.Pictures{
	padding: 30px;
}

.hover {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
