.Home {
    text-align: center;
    background: url("/images/Homepage.jpg") no-repeat;
    background-size: 100%;

    height:100%;
}

.splash-text {
    font-family: "Futura", sans-serif;
    /*color: #d8b65c;*/
    color: white;
    font-size: 72px;
    line-height: 500px;
    text-align: center;
}